@import url('https://fonts.googleapis.com/css?family=Flamenco|Mrs+Sheppards');
.brand-box {
    font-family: 'Mrs Sheppards', cursive;
    color: #fff;
    padding: 30px 50px;
    font-size: 60px;
}

a:hover {
    text-decoration: none !important;
}

header {
    padding: 10px;
    text-align: center;
    background-color: #2e2e2e;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
}

header ul li a {
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
}