<h1>Liste des utilisateurs</h1>

<div class="counter" *ngIf="users">
    <p>{{users.length}} clients</p>
</div>

<div class="add">
    <a routerLink='/create' class="btn btn-info">ajouter un utilisateur</a>
</div>

<table class="table">

    <tr>
        <td>Nom</td>
        <td>Pseudo</td>
        <td>Entreprise</td>
        <td>Email</td>
        <td>Téléphone</td>
        <td></td>
    </tr>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.website}}</td>
            <td>{{user.mail}}</td>
            <td>{{user.phone}}</td>
            <td>
                <a routerLink="/user/{{user._id}}" class="btn">voir profil</a>
                <a routerLink="/update/{{user._id}}" class="edit-icon"><i class="material-icons">edit</i></a>
                <a class="delete-icon"> <i class="material-icons" (click)="deleteUser(user._id)">delete</i></a>
            </td>
        </tr>
    </tbody>

</table>